<style type="text/css">
ins {
  color:#009a9a; text-decoration:underline;
}

del {
  color:red; text-decoration:line-through;
}

ednote {
  color:blue;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
</style>
