<style type="text/css">
ins {
  background-color: lime; text-decoration:underline;
}

del {
  background-color: #ff8080; text-decoration:line-through;
}

ednote {
  color:blue;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

code.diff > span.st {
  color: black;
  background-color: #ff8080; text-decoration:line-through;
}
code.diff > span.va {
  color: black;
  background-color: lightgreen;
}

</style>
